extends layout

block content
  body
    // Topbar
    include ./includes/topbar

    // Nav
    include ./includes/Nav

    // Page Header Start
    .container-fluid.bg-secondary.mb-5
      .d-flex.flex-column.align-items-center.justify-content-center(style='min-height: 300px')
        h1.font-weight-semi-bold.text-uppercase.mb-3 Shopping Cart
        .d-inline-flex
          p.m-0
            a(href='') Home
          p.m-0.px-2 -
          p.m-0 Shopping Cart
    // Page Header End
    // Cart Start
    .container-fluid.pt-5
      .row.px-xl-5
        .col-lg-8.table-responsive.mb-5
          table.table.table-bordered.text-center.mb-0
            thead.bg-secondary.text-dark
              tr
                th Products
                th Price
                th Quantity
                th Total
                th Remove
            tbody.align-middle
              tr
                td.align-middle
                  img(src='#{assets}./assets/img/product-1.jpg', alt='', style='width: 50px;')
                  |  Colorful Stylish Shirt
                td.align-middle $150
                td.align-middle
                  .input-group.quantity.mx-auto(style='width: 100px;')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-minus
                        i.fa.fa-minus
                    input.form-control.form-control-sm.bg-secondary.text-center(type='text', value='1')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-plus
                        i.fa.fa-plus
                td.align-middle $150
                td.align-middle
                  button.btn.btn-sm.btn-primary
                    i.fa.fa-times
              tr
                td.align-middle
                  img(src='#{assets}./assets/img/product-2.jpg', alt='', style='width: 50px;')
                  |  Colorful Stylish Shirt
                td.align-middle $150
                td.align-middle
                  .input-group.quantity.mx-auto(style='width: 100px;')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-minus
                        i.fa.fa-minus
                    input.form-control.form-control-sm.bg-secondary.text-center(type='text', value='1')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-plus
                        i.fa.fa-plus
                td.align-middle $150
                td.align-middle
                  button.btn.btn-sm.btn-primary
                    i.fa.fa-times
              tr
                td.align-middle
                  img(src='#{assets}./assets/img/product-3.jpg', alt='', style='width: 50px;')
                  |  Colorful Stylish Shirt
                td.align-middle $150
                td.align-middle
                  .input-group.quantity.mx-auto(style='width: 100px;')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-minus
                        i.fa.fa-minus
                    input.form-control.form-control-sm.bg-secondary.text-center(type='text', value='1')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-plus
                        i.fa.fa-plus
                td.align-middle $150
                td.align-middle
                  button.btn.btn-sm.btn-primary
                    i.fa.fa-times
              tr
                td.align-middle
                  img(src='#{assets}./assets/img/product-4.jpg', alt='', style='width: 50px;')
                  |  Colorful Stylish Shirt
                td.align-middle $150
                td.align-middle
                  .input-group.quantity.mx-auto(style='width: 100px;')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-minus
                        i.fa.fa-minus
                    input.form-control.form-control-sm.bg-secondary.text-center(type='text', value='1')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-plus
                        i.fa.fa-plus
                td.align-middle $150
                td.align-middle
                  button.btn.btn-sm.btn-primary
                    i.fa.fa-times
              tr
                td.align-middle
                  img(src='#{assets}./assets/img/product-5.jpg', alt='', style='width: 50px;')
                  |  Colorful Stylish Shirt
                td.align-middle $150
                td.align-middle
                  .input-group.quantity.mx-auto(style='width: 100px;')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-minus
                        i.fa.fa-minus
                    input.form-control.form-control-sm.bg-secondary.text-center(type='text', value='1')
                    .input-group-btn
                      button.btn.btn-sm.btn-primary.btn-plus
                        i.fa.fa-plus
                td.align-middle $150
                td.align-middle
                  button.btn.btn-sm.btn-primary
                    i.fa.fa-times
        .col-lg-4
          form.mb-5(action='')
            .input-group
              input.form-control.p-4(type='text', placeholder='Coupon Code')
              .input-group-append
                button.btn.btn-primary Apply Coupon
          .card.border-secondary.mb-5
            .card-header.bg-secondary.border-0
              h4.font-weight-semi-bold.m-0 Cart Summary
            .card-body
              .d-flex.justify-content-between.mb-3.pt-1
                h6.font-weight-medium Subtotal
                h6.font-weight-medium $150
              .d-flex.justify-content-between
                h6.font-weight-medium Shipping
                h6.font-weight-medium $10
            .card-footer.border-secondary.bg-transparent
              .d-flex.justify-content-between.mt-2
                h5.font-weight-bold Total
                h5.font-weight-bold $160
              button.btn.btn-block.btn-primary.my-3.py-3 Proceed To Checkout
    // Cart End

    // Footer
    include ./includes/footer
    // Back to Top
    a.btn.btn-primary.back-to-top(href='#')
      i.fa.fa-angle-double-up