extends layout

block content
    // Topbar
    include ./includes/topbar

    // Nav
    include ./includes/Nav
    
    // Featured Start
    .container-fluid.pt-5
      .row.px-xl-5.pb-3
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .d-flex.align-items-center.border.mb-4(style='padding: 30px;')
            h1.fa.fa-check.text-primary.m-0.mr-3
            h5.font-weight-semi-bold.m-0 Quality Product
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .d-flex.align-items-center.border.mb-4(style='padding: 30px;')
            h1.fa.fa-shipping-fast.text-primary.m-0.mr-2
            h5.font-weight-semi-bold.m-0 Free Shipping
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .d-flex.align-items-center.border.mb-4(style='padding: 30px;')
            h1.fas.fa-exchange-alt.text-primary.m-0.mr-3
            h5.font-weight-semi-bold.m-0 14-Day Return
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .d-flex.align-items-center.border.mb-4(style='padding: 30px;')
            h1.fa.fa-phone-volume.text-primary.m-0.mr-3
            h5.font-weight-semi-bold.m-0 24/7 Support
    // Featured End
    // Categories Start
    .container-fluid.pt-5
      .row.px-xl-5.pb-3
        .col-lg-4.col-md-6.pb-1
          .cat-item.d-flex.flex-column.border.mb-4(style='padding: 30px;')
            p.text-right 15 Products
            a.cat-img.position-relative.overflow-hidden.mb-3(href='')
              img#cat-1(src='#{assets}./assets/img/cat-1.jpg' alt='')
            h5.font-weight-semi-bold.m-0 Lorem ipsum dolor
        .col-lg-4.col-md-6.pb-1
          .cat-item.d-flex.flex-column.border.mb-4(style='padding: 30px;')
            p.text-right 15 Products
            a.cat-img.position-relative.overflow-hidden.mb-3(href='')
              img#cat-2(src='#{assets}./assets/img/cat-2.jpg' alt='')
            h5.font-weight-semi-bold.m-0 Lorem ipsum dolor
        .col-lg-4.col-md-6.pb-1
          .cat-item.d-flex.flex-column.border.mb-4(style='padding: 30px;')
            p.text-right 15 Products
            a.cat-img.position-relative.overflow-hidden.mb-3(href='')
              img#cat-3(src='#{assets}./assets/img/cat-3.jpg' alt='')
            h5.font-weight-semi-bold.m-0 Lorem ipsum dolor
        .col-lg-4.col-md-6.pb-1
          .cat-item.d-flex.flex-column.border.mb-4(style='padding: 30px;')
            p.text-right 15 Products
            a.cat-img.position-relative.overflow-hidden.mb-3(href='')
              img.img-fluid(src='#{assets}./assets/img/cat-4.jpg' alt='')
            h5.font-weight-semi-bold.m-0 Lorem ipsum dolor
        .col-lg-4.col-md-6.pb-1
          .cat-item.d-flex.flex-column.border.mb-4(style='padding: 30px;')
            p.text-right 15 Products
            a.cat-img.position-relative.overflow-hidden.mb-3(href='')
              img.img-fluid(src='#{assets}./assets/img/cat-5.jpg' alt='')
            h5.font-weight-semi-bold.m-0 Lorem ipsum dolor
        .col-lg-4.col-md-6.pb-1
          .cat-item.d-flex.flex-column.border.mb-4(style='padding: 30px;')
            p.text-right 15 Products
            a.cat-img.position-relative.overflow-hidden.mb-3(href='')
              img.img-fluid(src='#{assets}./assets/img/cat-6.jpg' alt='')
            h5.font-weight-semi-bold.m-0 Lorem ipsum dolor
    // Categories End
    // Offer Start
    .container-fluid.offer.pt-5
      .row.px-xl-5
        .col-md-6.pb-4
          .position-relative.bg-secondary.text-center.text-md-right.text-white.mb-2.py-5.px-5
            img(src='#{assets}./assets/img/offer-1.png' alt='')
            .position-relative(style='z-index: 1;')
              h5.text-uppercase.text-primary.mb-3 20% off the all order
              h1.mb-4.font-weight-semi-bold Spring Collection
              a.btn.btn-outline-primary.py-md-2.px-md-3(href='') Shop Now
        .col-md-6.pb-4
          .position-relative.bg-secondary.text-center.text-md-left.text-white.mb-2.py-5.px-5
            img(src='#{assets}./assets/img/offer-2.png' alt='')
            .position-relative(style='z-index: 1;')
              h5.text-uppercase.text-primary.mb-3 20% off the all order
              h1.mb-4.font-weight-semi-bold Winter Collection
              a.btn.btn-outline-primary.py-md-2.px-md-3(href='') Shop Now
    // Offer End
    // Products Start
    .container-fluid.pt-5
      .text-center.mb-4
        h2.section-title.px-5
          span.px-2 Trandy Products
      .row.px-xl-5.pb-3
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-1.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Star Wars The Black Series Bastilla Shan 6-Inch Action Figure
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-2.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-3.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src="#{assets}./assets/img/product-4.jpg" alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Star Wars The Black Series Bastilla Shan 6-Inch Action Figure
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-5.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-6.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-7.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-8.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
    // Products End
    // Subscribe Start
    .container-fluid.bg-secondary.my-5
      .row.justify-content-md-center.py-5.px-xl-5
        .col-md-6.col-12.py-5
          .text-center.mb-2.pb-2
            h2.section-title.px-5.mb-3
              span.bg-secondary.px-2 Stay Updated
            p
              | Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.
          form(action='')
            .input-group
              input.form-control.border-white.p-4(type='text' placeholder='Email Goes Here')
              .input-group-append
                button.btn.btn-primary.px-4 Subscribe
    // Subscribe End
    // Products Start
    .container-fluid.pt-5
      .text-center.mb-4
        h2.section-title.px-5
          span.px-2 Just Arrived
      .row.px-xl-5.pb-3
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-1.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-2.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-3.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-4.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-5.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Star Wars The Black Series Doctor Aphra 6-Inch Action Figure
              .d-flex.justify-content-center
                h6 $27.99
                h6.text-muted.ml-2
                  del $39.99
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-6.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $19.99
                h6.text-muted.ml-2
                  del $29.99
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-7.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
        .col-lg-3.col-md-6.col-sm-12.pb-1
          .card.product-item.border-0.mb-4
            .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
              img.img-fluid.w-100(src='#{assets}./assets/img/product-8.jpg' alt='')
            .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
              h6.text-truncate.mb-3 Colorful Stylish Shirt
              .d-flex.justify-content-center
                h6 $123.00
                h6.text-muted.ml-2
                  del $123.00
            .card-footer.d-flex.justify-content-between.bg-light.border
              a.btn.btn-sm.text-dark.p-0(href='/detail')
                i.fas.fa-eye.text-primary.mr-1
                | View Detail
              a.btn.btn-sm.text-dark.p-0(href='')
                i.fas.fa-shopping-cart.text-primary.mr-1
                | Add To Cart
    // Products End
    // Vendor Start
    .container-fluid.py-5
      .row.px-xl-5
        .col
          .owl-carousel.vendor-carousel
            .vendor-item.border.p-4
              img(src='#{assets}./assets/img/vendor-1.jpg' alt='')
            .vendor-item.border.p-4
              img(src='#{assets}./assets/img/vendor-2.jpg' alt='')
            .vendor-item.border.p-4
              img(src='#{assets}./assets/img/vendor-3.jpg' alt='')
            .vendor-item.border.p-4
              img(src='#{assets}./assets/img/vendor-4.jpg' alt='')
            .vendor-item.border.p-4
              img(src='#{assets}./assets/img/vendor-5.jpg' alt='')
            .vendor-item.border.p-4
              img(src='#{assets}./assets/img/vendor-6.jpg' alt='')
            .vendor-item.border.p-4
              img(src='#{assets}./assets/img/vendor-7.jpg' alt='')
            .vendor-item.border.p-4
              img(src='#{assets}./assets/img/vendor-8.jpg' alt='')
    // Vendor End
    // Footer
    include ./includes/footer