extends layout

block content    
  body
    // Topbar
    include ./includes/topbar
    
    // Nav
    include ./includes/Nav
    
    // Page Header Start
    .container-fluid.bg-secondary.mb-5
      .d-flex.flex-column.align-items-center.justify-content-center(style='min-height: 300px')
        h1.font-weight-semi-bold.text-uppercase.mb-3 Our Shop
        .d-inline-flex
          p.m-0
            a(href='') Home
          p.m-0.px-2 -
          p.m-0 Shop
    // Page Header End
    // Shop Start
    .container-fluid.pt-5
      .row.px-xl-5
        // Shop Sidebar Start
        .col-lg-3.col-md-12
          // Price Start
          .border-bottom.mb-4.pb-4
            h5.font-weight-semi-bold.mb-4 Filter by price
            form
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#price-all.custom-control-input(type='checkbox' checked='')
                label.custom-control-label(for='price-all') All Price
                span.badge.border.font-weight-normal 1000
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#price-1.custom-control-input(type='checkbox')
                label.custom-control-label(for='price-1') $0 - $100
                span.badge.border.font-weight-normal 150
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#price-2.custom-control-input(type='checkbox')
                label.custom-control-label(for='price-2') $100 - $200
                span.badge.border.font-weight-normal 295
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#price-3.custom-control-input(type='checkbox')
                label.custom-control-label(for='price-3') $200 - $300
                span.badge.border.font-weight-normal 246
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#price-4.custom-control-input(type='checkbox')
                label.custom-control-label(for='price-4') $300 - $400
                span.badge.border.font-weight-normal 145
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between
                input#price-5.custom-control-input(type='checkbox')
                label.custom-control-label(for='price-5') $400 - $500
                span.badge.border.font-weight-normal 168
          // Price End
          // Color Start
          .border-bottom.mb-4.pb-4
            h5.font-weight-semi-bold.mb-4 Filter by color
            form
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#color-all.custom-control-input(type='checkbox' checked='')
                label.custom-control-label(for='price-all') All Color
                span.badge.border.font-weight-normal 1000
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#color-1.custom-control-input(type='checkbox')
                label.custom-control-label(for='color-1') Black
                span.badge.border.font-weight-normal 150
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#color-2.custom-control-input(type='checkbox')
                label.custom-control-label(for='color-2') White
                span.badge.border.font-weight-normal 295
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#color-3.custom-control-input(type='checkbox')
                label.custom-control-label(for='color-3') Red
                span.badge.border.font-weight-normal 246
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#color-4.custom-control-input(type='checkbox')
                label.custom-control-label(for='color-4') Blue
                span.badge.border.font-weight-normal 145
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between
                input#color-5.custom-control-input(type='checkbox')
                label.custom-control-label(for='color-5') Green
                span.badge.border.font-weight-normal 168
          // Color End
          // Size Start
          .mb-5
            h5.font-weight-semi-bold.mb-4 Filter by size
            form
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#size-all.custom-control-input(type='checkbox' checked='')
                label.custom-control-label(for='size-all') All Size
                span.badge.border.font-weight-normal 1000
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#size-1.custom-control-input(type='checkbox')
                label.custom-control-label(for='size-1') XS
                span.badge.border.font-weight-normal 150
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#size-2.custom-control-input(type='checkbox')
                label.custom-control-label(for='size-2') S
                span.badge.border.font-weight-normal 295
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#size-3.custom-control-input(type='checkbox')
                label.custom-control-label(for='size-3') M
                span.badge.border.font-weight-normal 246
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between.mb-3
                input#size-4.custom-control-input(type='checkbox')
                label.custom-control-label(for='size-4') L
                span.badge.border.font-weight-normal 145
              .custom-control.custom-checkbox.d-flex.align-items-center.justify-content-between
                input#size-5.custom-control-input(type='checkbox')
                label.custom-control-label(for='size-5') XL
                span.badge.border.font-weight-normal 168
          // Size End
          // Shop Sidebar End
        // Shop Product Start
        .col-lg-9.col-md-12
          .row.pb-3
            .col-12.pb-1
              .d-flex.align-items-center.justify-content-between.mb-4
                form(action='')
                  .input-group
                    input.form-control(type='text' placeholder='Search by name')
                    .input-group-append
                      span.input-group-text.bg-transparent.text-primary
                        i.fa.fa-search
                .dropdown.ml-4
                  button#triggerId.btn.border.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    | Sort by
                  .dropdown-menu.dropdown-menu-right(aria-labelledby='triggerId')
                    a.dropdown-item(href='#') Latest
                    a.dropdown-item(href='#') Popularity
                    a.dropdown-item(href='#') Best Rating
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-1.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-2.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-3.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-4.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-5.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-6.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-7.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-8.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-lg-4.col-md-6.col-sm-12.pb-1
              .card.product-item.border-0.mb-4
                .card-header.product-img.position-relative.overflow-hidden.bg-transparent.border.p-0
                  img.img-fluid.w-100(src='#{assets}./assets/img/product-1.jpg' alt='')
                .card-body.border-left.border-right.text-center.p-0.pt-4.pb-3
                  h6.text-truncate.mb-3 Colorful Stylish Shirt
                  .d-flex.justify-content-center
                    h6 $123.00
                    h6.text-muted.ml-2
                      del $123.00
                .card-footer.d-flex.justify-content-between.bg-light.border
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-eye.text-primary.mr-1
                    | View Detail
                  a.btn.btn-sm.text-dark.p-0(href='')
                    i.fas.fa-shopping-cart.text-primary.mr-1
                    | Add To Cart
            .col-12.pb-1
              nav(aria-label='Page navigation')
                ul.pagination.justify-content-center.mb-3
                  li.page-item.disabled
                    a.page-link(href='#' aria-label='Previous')
                      span(aria-hidden='true') «
                      span.sr-only Previous
                  li.page-item.active
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#' aria-label='Next')
                      span(aria-hidden='true') »
                      span.sr-only Next
        // Shop Product End
        // Shop End
       // Footer
      include ./includes/footer
          // Back to Top
          a.btn.btn-primary.back-to-top(href='#')
            i.fa.fa-angle-double-up

